<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { useTotalStore } from "./stores/total.store";

const totalStore = useTotalStore();

const { total, at } = storeToRefs(totalStore);

async function increment() {
  totalStore.increment(1);
}

async function reset() {
  totalStore.reset();
}
</script>

<template>
  <div>
    <h1>Store Library Pinia</h1>

    <h2>Total Store Test</h2>
    <p> <span @click="increment">[ +1 ]</span> <span @click="reset">[ 0 ]</span>; Total: {{ total }} @ {{ at }}</p>

  </div>
</template>
